<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630131460071-uvp72d8kh28jbgv7045l5k61b0fe0qsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630131460071-uvp72d8kh28jbgv7045l5k61b0fe0qsb</string>
	<key>API_KEY</key>
	<string>AIzaSyAQNrq3JokBNt1agTebnwR1RrqB68vXcCI</string>
	<key>GCM_SENDER_ID</key>
	<string>630131460071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectFirebaseAuth1</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-project-74c56</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-project-74c56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630131460071:ios:54c2b11c25832453e0df42</string>
</dict>
</plist>